.editPanel-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: var(--gray-transparent);
}

.editPanel{
    width: 90vw;
    height: 90vh;
    background-color: var(--white);
    border: 2px solid;
    padding: 1rem 2rem;
}

.editPanel-title{
    width: 100%;
    height: max-content;
}
.editable-box{
    margin: 1rem 0;
}

.btn{
    border: none;
    border: 1px solid black;
    padding: .5rem 1rem;
    border-radius: var(--radius);
    font-size: var(--normal);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-save{
    background-color: royalblue;
}

.btn-discard{
    background-color: red;

}


/* TABLET */
@media (min-width: 800px) {
    .editPanel{
        width: 70vw;
        height: 80vh;
    }
}


/* DESKTOP */
@media (min-width: 1024px) {
    .editPanel{
        width: 40vw;
        height: 80vh;
    }
}