.App{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--white-second);
}

#Nav{
  grid-column: span 12;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
  box-shadow: 0 0 1px 1px var(--gray);
  height: 6vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  z-index: 20;
  top: 0;
  position: sticky;
}

#Sidebar{
  display: none;
}

#Section{
  grid-column: span 6;
  padding: 0 1rem;
}

#Login{
  height: 100vh;
  position: relative;
  background-color: var(--white-second);
}

#Section{
  grid-column: span 12;
}

.Content{
  grid-column: span 12;
}

/* TABLET */
@media (min-width: 800px) {
  #Section{
    grid-column-start: 3;
    grid-column-end: 11;
  }
}


/* DESKTOP */
@media (min-width: 1024px) {
  #Sidebar{
    display: block;
    grid-column-start: 3;
    grid-column-end: 5;
    margin-top: .5rem;
  }
  #Section{
    grid-column-start: 5;
    grid-column-end: 11;
  }
}