.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 11;
}
.nav-section{
    display: flex;
    align-items: center;
}
.nav-section > * {
    margin: 0 .3rem;
}
.logo{
    height: 3.5vh;
}
.nav-btn{
    border: 2px solid var(--pink);
    color: var(--pink);
    padding: .3rem 1rem;
    border-radius: .4rem;
    font-size: var(--normal);
    background-color: var(--white);
    cursor: pointer;
}

.btn-login{
    border-color: var(--pink);
    color: var(--pink);
}
.btn-login:hover{
    color: var(--white);
    background-color: var(--pink);
}

.btn-register{
    border-color: var(--purple);
    color: var(--purple);
}
.btn-register:hover{
    color: var(--white);
    background-color: var(--purple);
}


.nav_search{
    border-radius: .3rem;
    padding: .4rem .3rem;
    border: 1px solid var(--gray);
}

.search{
    border: none;
    font-size: var(--normal);
}
.search:focus{
    outline: 0;
}

.nav-login{
    display: none;
}

/* TABLET */
@media (min-width: 800px) {
    #Section{
      grid-column-start: 3;
      grid-column-end: 11;
    }
    .nav-login{
        display: block;
    }
  }
  
  
  /* DESKTOP */
  @media (min-width: 1024px) {
    #Sidebar{
      display: block;
      grid-column-start: 3;
      grid-column-end: 5;
      margin-top: .5rem;
    }
    #Section{
      grid-column-start: 5;
      grid-column-end: 11;
    }
  }